<!DOCTYPE html>
<html>
<body>

<h2>E-mail Editor</h2>

<form action="/edit_email_template", method="POST">
  <label for="fname">First name:</label><br>
  <input type="text" id="fname" name="fname" value=""><br>
  <label for="lname">Last name:</label><br>
  <input type="text" id="lname" name="lname" value=""><br><br>
  <label for="email">E-mail:</label><br>
  <input type="email" id="email" name="email" value=""><br><br>
  <label for="policy_number">Policy Number:</label><br>
  <input type="Number" id="policy_number" name="policy_number" value=""><br><br>
  <label for="expiry_date">Expiry Date:</label><br>
  <input type="date" id="expiry_date" name="expiry_date" value=""><br><br>
  <input type="submit" value="Submit">
</form> 

<p>Click 'Submit' to create the email.</p>

</body>
</html>